defaults
    retries 310
    option  redispatch
    timeout client 30s
    timeout connect 4s
    timeout server 30s
    
frontend api_gateway
    bind *:8080
    mode http
    timeout client 10s
    acl PATH_user path_beg -i /user
    acl PATH_task path_beg -i /task
    use_backend be_user if PATH_user
    use_backend be_task if PATH_task

backend be_user
    mode http
    server s1 UserContainer:8081

backend be_task
    mode http
    server s1 TaskContainer:8082
